/* Avatar Component Styles */

.avatar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	overflow: hidden;
	user-select: none;
	border-radius: 9999px;
	background-color: rgb(243 244 246);
	border: 2px solid white;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

/* Sizes */
.avatar--sm {
	width: 2rem;
	height: 2rem;
}

.avatar--md {
	width: 2.5rem;
	height: 2.5rem;
}

.avatar--lg {
	width: 3rem;
	height: 3rem;
}

.avatar--xl {
	width: 4rem;
	height: 4rem;
}

.avatar__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.avatar__fallback {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary);
	color: white;
	font-weight: 500;
	font-size: 0.875rem;
	text-transform: uppercase;
}

.avatar--sm .avatar__fallback {
	font-size: 0.75rem;
}

.avatar--lg .avatar__fallback {
	font-size: 1rem;
}

.avatar--xl .avatar__fallback {
	font-size: 1.25rem;
}
