/* FAQSection - Minimal/Unstyled Primitive */

.faq-section {
	/* Container - customize with Tailwind */
}

.faq-section__header {
	/* Header wrapper */
}

.faq-section__title {
	/* Title - style with Tailwind */
}

.faq-section__description {
	/* Description - style with Tailwind */
}

.faq-section__accordion {
	/* Accordion container */
}

.faq-section__item {
	/* Individual FAQ item */
}

.faq-section__item-header {
	/* Item header wrapper */
}

.faq-section__trigger {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	text-align: left;
}

.faq-section__question {
	/* Question text */
}

.faq-section__icon {
	/* Chevron icon - add transitions with Tailwind */
}

.faq-section__content {
	/* Answer container */
}

.faq-section__answer {
	/* Answer text */
}
