{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "useTabs": false,
        "tabWidth": 2
      }
    },
    {
      "files": "*.md",
      "options": {
        "useTabs": false,
        "tabWidth": 2,
        "printWidth": 120,
        "proseWrap": "preserve"
      }
    }
  ]
}
